<div class="product-card__form">
  <div class="product-card__form-container">
    <p class="product-card__form-title">
      Запросить цены
    </p>
    <p class="product-card__form-desc">
      Оставьте свою почту, наш специалист свяжется с вами по вопросу цен и поставок
    </p>
    <form action="../php/form_heandler__product.php">
      <input class="product-card__form-email" type="email" name="" id="" placeholder="email@my.com">
      <input class="visually-hidden" name="company" type="text">
      <input class="product-card__form-button" type="button" value="Отправить">
    </form>
    
  </div>
</div>